<html>
  <head>
    <title>Jose Ramirez</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
  </head>
  <body>
      <nav class="nav-down">
        <div class="container">
          <div id="logo"></div>
          <a href="#">
            <span class="navButton">
                Resume
            </span>
          </a>
        </div>
      </nav>
      <div class="container">
        <div class="smallTop">
          <div class="row">
            <div class="col-md-6">
              <img src="../images/ralph.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
              <h1 class="title">Los Angeles Metro App</h1>
              <h4>Working with Morgan West, Marianne Wellman</h4>
              <p>We want to streamline and personalize public transportation in Los Angeles County and surrounding areas. We strive to attract more users, and optimize the experience for those who already ride daily.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <h2>User research</h2>
              <h5>
                We went to Union Station to study the habits of commuters in Los Angeles’ public transit systems. Metro users use the transit system to connect them to their destination. The majority of passengers are destination-oriented; they have a plan before they even step foot into a station. Most passengers also carry cell phones and spend a large amount of their time on metro on their phones.
              </h5>

            </div>
            <div class="col-sm-7">
<h2>Analyzing Results</h2>
<h3>Who uses the Metro?</h3>
<h4>We found that Metro’s average users are daily-commuters, tourists, and transients.</h4><br><Br></Br>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-6">
            <img src="../images/metro/ppl.png" class="img-responsive ">
            </div>
            <div class="col-sm-6">
            <img src="../images/metro/station.png" class="img-responsive ">
            </div>


          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
              <img src="../images/metro/Chelsea.png" class="img-responsive">

            </div>
            <div class="col-sm-4">
              <img src="../images/metro/Cherlin.png" class="img-responsive">

            </div>
            <div class="col-sm-4">
              <img src="../images/metro/brando.jpg" class="img-responsive">

            </div>
          </div>
        </div>
      </div>
      <div class="smallTop">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="">
                <h3>Using Union Station as a focal point we broke down the taxonomy of Los Angeles’ transit system. Putting each part of the taxonomy on to flash cards I conducted card sorting exercises with several people. These people were LA residents and frequent to moderate users of LA Metro. The results really showed how the large Metro system can be overwhelming to users and how users are really unaware of alot of the services that are provided by Metro.</h3>

            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="title">Features</h2>
              <p class="imgMiddle">We went through an ideation process that lead to three main features <br><br></p>
              <div class="row">
                <div class="col-sm-4">
                  <div class="secondTemp">
                    <br>
                    <img src="../images/metro/feature1.png" class="img-responsive imgMiddle" alt="">
                    <h4>
                      <br>
                      Navigation
                      <br>
                      <br>
                    </h4>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="secondTemp"><br>
                      <img src="../images/metro/feature2.png" class="img-responsive imgMiddle" alt="">
                      <h4>

                        Discover
                        <br>
                        <br>
                      </h4>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="secondTemp"><br><br>
                    <img src="../images/metro/feature3.png" class="img-responsive imgMiddle" alt="">
                    <h4>
                      <br><br>
                      Payment
                      <br><br>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- persona IMGs -->
          </div>
        </div>
        </div>

      <div class="smallTop">
        <div class="container">
          <h2>information Architecture</h2>
          <div class="row">
            <div class="col-sm-12">
              <img src="../images/metro/ia1.png" class="img-responsive imgMiddle" alt="">
            </div>
            <div class="col-sm-12">
              <img src="../images/metro/ia2.png" class="img-responsive imgMiddle" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2>My Role</h2>
                <p>This project is currently in the prototyping stage. I am responsible for everything that has to do with the Payment feature.</p>
                <br>
                <h3>Pain Point</h3>
                <p>Metro’s current fare system places too many inconveniences for the user.  </p>
              </div>
              <div class="col-sm-8">
                <img src="../images/metro/ui1.png" class="img-responsive imgMiddle" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="work">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="title"><br>Information Architecture for Payment Feature.</h3>
                <img src="../images/metro/ia.png" class="img-responsive imgMiddle imgMax" alt="">
                <img src="../images/metro/userFlow.png" class="img-responsive imgMiddle imgMax" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="secondWork">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2>Digital Tap</h2>
                <p>The Transfer Access Pass card program is a good solution but not perfect. It relies on passengers to remember to bring their TAP cards and deal with a kiosk machine at the station. All causing unnecessary wastes of time that can cause a user to miss a train. The solution is a digital tap card where the users phone can alway pay for their fare.</p>

              </div>
              <div class="col-sm-8">
                <div class="col-sm-6">
                  <img src="../images/metro/IMG_1091.jpg" class="img-responsive imgMiddle" alt="">
                </div>
                <div class="col-sm-4">
                <img src="../images/metro/ui2.png" class="img-responsive imgMiddle" alt="">
              </div>
              </div>
            </div>
          </div>
        </div>



        <footer>

            &copy; 2017 Jose Ramirez

        </footer>


    <script src="../js/script.js"></script>
  </body>
</html>
