<html>
  <head>
    <title>Jose Ramirez</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
  </head>
  <body>
      <nav class="nav-down">
        <div class="container">
          <div id="logo"></div>
          <a href="#">
            <span class="navButton">
                Resume
            </span>
          </a>
        </div>
      </nav>
      <div class="container">
        <div class="smallTop">
          <div class="row">
            <div class="col-md-6">
              <img src="../images/ralph.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
              <h1 class="title">Mobile Stylist</h1>
              <p>How do people dress themselves in the twenty-first century? What role does technology play in people’s fashion and clothing experiences? The obvious answer is online shopping and though there are thousands of great examples of online shopping rarely are they designed for specific people. I set out to find what issues still exsist for most online shoppers.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2>User research</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <h5>
                I went to Old Town Pasadena to interview shoppers at Forever21 and Urban Outfitters. I wanted to learn about their shopping and styling habits. Focusing on their use of both internet and store locations.
              </h5>
              <br><br>
              <h4>Framing Questions</h4>
                <p>
                  How often do you shop?
                  <br>What are your favorite stores?
                <br>  Do you shop at the same stores online?
                <br>  Do you shop at exclusively online stores? What do you dislike about online shopping? What do you dislike about shopping at stores?
                </p>
            </div>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-xs-3">
                  <img src="" alt="">
                </div>
                <div class="col-xs-9">
                  <h4>“I don’t like waiting for it to ship like I’d rather just have it, try it on, and not have to worry about sizing”</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <img src="" alt="">
                </div>
                <div class="col-xs-9">
                  <h4>“I love coming to stores because I like to see what the people are wearing and get ideas from them.”</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <img src="" alt="">
                </div>
                <div class="col-xs-9">
                  <h4>“I can’t shop online because there are somethings that I love on the model but won’t fit my body well.”</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="title">What did I learn?</h3>
              <p>Online shopping isn’t as popular as I assumed and many people have issues with getting their correct size through online stores. The timely convenience of shopping online is spoiled because of shipping times and the fact that people aren’t always satis ed with the physical result. For young women that struggle with online shopping will still go online for style and fashion refrences.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="smallTop">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="">
                <h2>Hypothesis</h2>
                <h3>People would use technology for their fashion needs if the technology is personalized for their needs.</h3>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="">
                <h2>Ux Vision</h2>
                <h3>A mobile and web platform where people get direct recommendations for products based on their body shape, style, and current wardrobe.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2>Personas</h2>
              <p>My research led the decision to focus on women ages 17-39 who are more likely to be early adapters of fashion technology.</p>
            </div>
            <!-- persona IMGs -->
          </div>
        </div>
        </div>

        <div class="smallTop">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2><br></h2>
                  <p>Take what young women already do which is go to technology to find fasion inspiration and buy clothes and merge those two experiences together. Both of those are inheritly interconnected with a persons’ personal wardrobe and taking that into consideration could be an inovative experience.
  Project will focus on women ages 17-39. In user testing most women these ages were likely to have sizing issues and have used online technology. They would be the most probable candidates to use this tool.</p>
              </div>
              <div class="col-sm-8">
                <h2>features</h2>
                <ul>
                  <li>
                    <h3>A stream of for-sale clothing that compliments the users body and style.</h3>
                  </li>
                  <li>
                    <h3>Outfit generator using users’ exsisting ward- robe as well as items for sale.</h3>
                  </li>
                  <li>
                    <h3>Single source for online shopping</h3>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>

      <div class="smallTop">
        <div class="container">
          <h2>information Architecture</h2>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <h2>Wireframes</h2>
          <h4>Low-Fidelity Wireframes</h4>
          <h4>mid-Fidelity Wireframes</h4>
          <h3 class=Title>User Testing</h3>
          <p>All wireframes get compiled into prototypes that are tested with users. The results of the tests the alter the new iteration of the design.</p>

        </div>
      </div>

        <footer>

            &copy; 2017 Jose Ramirez

        </footer>


    <script src="../js/script.js"></script>
  </body>
</html>
