<html>
  <head>
    <title>Jose Ramirez</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
  </head>
  <body>
      <nav class="nav-down">
        <div class="container">
          <div id="logo"></div>
          <a href="#">
            <span class="navButton">
                Resume
            </span>
          </a>
        </div>
      </nav>
      <div class="container">
        <div class="smallTop">
          <div class="row">
            <div class="col-md-6">
              <img src="../images/ralph.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
              <h1 class="title">Sunnies</h1>
              <p>With an endless amount of optical frames people seeking glasses can feel overwhelmed with the amount of products available. That, along with the process of inputting one’s prescription information can make shopping for eyewear a long and tedious experience. The design intent is to streamline the eyewear shopping experience by simplifying these two crucial factors as much as possible. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="secondWork">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="title">persona 1</h3>
              <div class="row">
                <div class="col-sm-6">

                  <h2>Derek</h2>
                  <h4>One time shopper with needs</h4>
                  <img src="../images/sunnies/DerekImg.png" class="img-responsive personaImg" alt="">
                  <h3>27 years old | Software Developer</h3>
                  <ul>
                    <li>Has worn glasses the majority of his life</li>
                    <li>Is very protective of his glasses and can hold on to a pair for years</li>
                    <li>Hates having to shop for glasses</li>
                    <li>When he shops he looks for a specific style and makes sure to get the most durable materials</li>
                  </ul>

                  <div class="col-sm-10">
                    <img src="../images/sunnies/Derek.png" class="img-responsive" alt="">
                  </div>
                </div>
                <div class="col-sm-6">

                  <h2>User Story</h2>
                  <h3>Derek Broke his glasses</h3>
                  <h4><span class="colorRed">Use Case:</span> Derek needs to replaces the glasses he’s had for years. He is looking for a pair that is very similar to the style he has just broke</h4>

                  <h4><span class="colorRed">User Journey:</span> Derek searches for frames that remind him of his old pair.</h4>
                </div>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h3 class="title">persona 2</h3>
              <div class="row">
                <div class="col-sm-6">

                  <h2>Laura</h2>
                  <h4>Seeks cheap chic</h4>
                  <img src="../images/sunnies/LauraImg.png" class="img-responsive personaImg" alt="">
                  <h3>18 year old | Sales Associater</h3>
                  <ul>
                    <li>Loses glasses often</li>
                    <li>Tries to limit her use of glasses, uses them most frequently when she is driving</li>
                    <li>When shopping she usually seeks cheap but stylish frames</li>
                    <li>Her favorite style are oversized frames</li>
                    <li>Her favorite pair of glasses are prescription sunglasses with oversized frames</li>
                  </ul>

                  <div class="col-xs-10">
                    <img src="../images/sunnies/Laura.png" class="img-responsive " alt="">
                  </div>
                </div>
                <div class="col-sm-6">
                  <h2>User Story</h2>
                  <h3>Laura is going to a pool party</h3>
                  <h4><span class="colorRed">Use Case:</span> Laura is going to her first Vegas pool party. She wants Oversized shades that will look cute with her swimsuit. The sunlight also hurts her eyes when she has been drinking.</h4>

                  <h4><span class="colorRed">User Journey:</span> Laura searches specifically for Oversized sunglasses.</h4>
                </div>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h3 class="title">persona 3</h3>
              <div class="row">
                <div class="col-sm-6">

                  <h2>Maria</h2>
                  <h4>Looking for variety frequently</h4>
                  <img src="../images/sunnies/MariaImg.png" class="img-responsive personaImg" alt="">
                  <h3>32 year old | Regional Bank Manager</h3>
                  <ul>
                    <li>Likes to have several pairs of glasses with different styles to choose from.</li>
                    <li>Often shops for non-name brand glasses</li>
                    <li>Considers glasses to be an essential part of her outfits</li>
                  </ul>


                  <div class="col-sm-10">
                    <img src="../images/sunnies/Maria.png" class="img-responsive" alt="">
                  </div>
                </div>
                <div class="col-sm-6">
                  <h2>User Story</h2>
                  <h3>Maria wants to try transitional Sunglasses </h3>
                  <h4><span class="colorRed">Use Case: </span>Maria is curious about transitional Sunglasses and wants to get a pair herself. She is worried that style may come off as weird so she is extra before purchasing.</h4>

                  <h4><span class="colorRed">User Journey: </span>She searches through different design before deciding one to try transitional lenses on.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="title">
          <h2>Mood Boards</h2>
        </div>
        <div class="secondTemp">
          <div class="row">
            <div class="col-sm-6">
              <img src="../images/sunnies/frames1.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6">
              <img src="../images/sunnies/frames2.png" class="img-responsive" alt="">
            </div>
          </div>
          <h2 class="title">Final mood board solution</h2>
          <div class="row">

            <div class="col-sm-12">
              <img src="../images/sunnies/frames3.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>

        <div class="title"></div>

        <div class="secondWork">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="secondTemp">
                  <img src="../images/sunnies/userflow.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>

            <div class="row">


            <div class="col-sm-12">
              <h2>Style Tiles</h2>
             <div class="secondTemp">
                <img src="../images/sunnies/g1.png" class="img-responsive" alt="">
             </div>
            </div>
            <div class="col-sm-12">
              <div class="secondTemp">
                <img src="../images/sunnies/g2.png" class="img-responsive" alt="">
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <div class="secondTemp">
                  <h2>Prototype</h2>
                  <br>
                  <h4>Prototyped using Php, CSS, Jquery, and Bootstrap</h4>
                  <br>
                  <a href="">
                    <div class="btn-view">
                      <h3>View</h3>
                    </div>
                  </a>
                  <br>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>

          </div>
        </div>




        <footer>

            &copy; 2017 Jose Ramirez

        </footer>


    <script src="../js/script.js"></script>
  </body>
</html>
